# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here

import pandas as pd

In [34]:
clean_data1_path = 'C:\\DAM\\Ironhack\\Laboratorios\\lab-dw-data-structuring-and-combining\\seguros_data_clean.csv'
df1 = pd.read_csv(clean_data1_path)

In [3]:
df1.head()

,Customer_ID,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number_of_Open_Complaints,Policy_Type,Vehicle_Class,Total_Claim_Amount
0,RB50392,Washington,F,Master,588174,0,1000,0.0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0.0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0.0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0.0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0.0,Personal Auto,Four-Door Car,17

In [35]:
df1.columns

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')

In [36]:
df1['Vehicle_Class'] = df1['Vehicle_Class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
df1['Vehicle_Class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [37]:
new_data1_path = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(new_data1_path)
new_data2_path = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(new_data2_path)

In [38]:
df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [39]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [40]:
from data_cleaning import clean_data

In [41]:
clean_df2 = clean_data(df2)
print (clean_df2)

    Customer          St Gender Education Customer_Lifetime_Value Income  \
0    GS98873     Arizona      F  Bachelor              323912.47%  16061
1    CW49887  California      F    Master              462680.11%  79487
2    MY31220  California      F   College              899704.02%  54230
3    UH35128      Oregon      F   College             2580706.30%  71210
4    WH52799     Arizona      F   College              380812.21%  94903
..       ...         ...    ...       ...                     ...    ...
991  HV85198     Arizona      M    Master              847141.75%  63513
992  BS91566     Arizona      F   College              543121.91%  58161
993  IL40123      Nevada      F   College              568964.41%  83640
994  MY32149  California      F    Master              368672.38%      0
995  SA91515  California      M  Bachelor              399258.39%      0

     Monthly_Premium_Auto Number_Of_Open_Complaints  Total_Claim_Amount  \
0                      88                    1/0/00          633.600000
1                     114                    1/0/00          547.200000
2                     112                    1/0/00          537.600000
3                     214                    1/1/00         1027.200000
4                      94                    1/0/00          451.200000
..                    ...                       ...                 ...
991                    70                    1/0/00          185.667213
992                    68                    1/0/00          140.747286
993                    70                    1/0/00          471.050488
994                    96                    1/0/00           28.460568
995                   111                    1/0/00          700.349052

        Policy_Type  Vehicle_Class
0     Personal Auto  Four-Door Car
1      Special Auto            SUV
2     Personal Auto   Two-Door Car
3     Personal Auto     Luxury Car
4    Corporate Auto   Two-Door Car
..              ...            ...
991   Personal Auto  Four-Door Car
992  Corporate Auto  Four-Door Car
993  Corporate Auto   Two-Door Car
994   Personal Auto   Two-Door Car
995   Personal Auto            SUV

[996 rows x 11 columns]

In [42]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [43]:
df2['Customer Lifetime Value'] = df2['Customer Lifetime Value'].str.replace('%', '', regex=False).astype(float)
print (df2)

    Customer          ST GENDER Education  Customer Lifetime Value  Income  \
0    GS98873     Arizona      F  Bachelor                323912.47   16061
1    CW49887  California      F    Master                462680.11   79487
2    MY31220  California      F   College                899704.02   54230
3    UH35128      Oregon      F   College               2580706.30   71210
4    WH52799     Arizona      F   College                380812.21   94903
..       ...         ...    ...       ...                      ...     ...
991  HV85198     Arizona      M    Master                847141.75   63513
992  BS91566     Arizona      F   College                543121.91   58161
993  IL40123      Nevada      F   College                568964.41   83640
994  MY32149  California      F    Master                368672.38       0
995  SA91515  California      M  Bachelor                399258.39       0

     Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                      88                    1/0/00          633.600000
1                     114                    1/0/00          547.200000
2                     112                    1/0/00          537.600000
3                     214                    1/1/00         1027.200000
4                      94                    1/0/00          451.200000
..                    ...                       ...                 ...
991                    70                    1/0/00          185.667213
992                    68                    1/0/00          140.747286
993                    70                    1/0/00          471.050488
994                    96                    1/0/00           28.460568
995                   111                    1/0/00          700.349052

        Policy Type  Vehicle Class
0     Personal Auto  Four-Door Car
1      Special Auto            SUV
2     Personal Auto   Two-Door Car
3     Personal Auto     Luxury Car
4    Corporate Auto   Two-Door Car
..              ...            ...
991   Personal Auto  Four-Door Car
992  Corporate Auto  Four-Door Car
993  Corporate Auto   Two-Door Car
994   Personal Auto   Two-Door Car
995   Personal Auto            SUV

[996 rows x 11 columns]

In [44]:
df2['Number of Open Complaints'] = df2['Number of Open Complaints'].apply(lambda x: sum([int(i) for i in x.split('/') if i.isdigit()]))
print (df2)

    Customer          ST GENDER Education  Customer Lifetime Value  Income  \
0    GS98873     Arizona      F  Bachelor                323912.47   16061
1    CW49887  California      F    Master                462680.11   79487
2    MY31220  California      F   College                899704.02   54230
3    UH35128      Oregon      F   College               2580706.30   71210
4    WH52799     Arizona      F   College                380812.21   94903
..       ...         ...    ...       ...                      ...     ...
991  HV85198     Arizona      M    Master                847141.75   63513
992  BS91566     Arizona      F   College                543121.91   58161
993  IL40123      Nevada      F   College                568964.41   83640
994  MY32149  California      F    Master                368672.38       0
995  SA91515  California      M  Bachelor                399258.39       0

     Monthly Premium Auto  Number of Open Complaints  Total Claim Amount  \
0                      88                          1          633.600000
1                     114                          1          547.200000
2                     112                          1          537.600000
3                     214                          2         1027.200000
4                      94                          1          451.200000
..                    ...                        ...                 ...
991                    70                          1          185.667213
992                    68                          1          140.747286
993                    70                          1          471.050488
994                    96                          1           28.460568
995                   111                          1          700.349052

        Policy Type  Vehicle Class
0     Personal Auto  Four-Door Car
1      Special Auto            SUV
2     Personal Auto   Two-Door Car
3     Personal Auto     Luxury Car
4    Corporate Auto   Two-Door Car
..              ...            ...
991   Personal Auto  Four-Door Car
992  Corporate Auto  Four-Door Car
993  Corporate Auto   Two-Door Car
994   Personal Auto   Two-Door Car
995   Personal Auto            SUV

[996 rows x 11 columns]

In [45]:
df2['GENDER'] = df2['GENDER'].replace({'Female': 'F', 'Femal': 'F', 'Male': 'M', 'female': 'F'})
df2.GENDER.unique()

array(['F', 'M', nan], dtype=object)

In [46]:
df2['ST'] = df2['ST'].replace({'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington', 'OR': 'Oregon'})
df2.ST.unique()

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington'],
      dtype=object)

In [47]:
df2 = df2.rename(columns={'Customer': 'Customer_ID','ST': 'State', 'GENDER': 'Gender'})
print (df2.columns)

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Number of Open Complaints', 'Total Claim Amount', 'Policy Type',
       'Vehicle Class'],
      dtype='object')

In [48]:
df2.columns = df2.columns.str.replace(' ', '_')
print (df2)

    Customer_ID       State Gender Education  Customer_Lifetime_Value  Income  \
0       GS98873     Arizona      F  Bachelor                323912.47   16061
1       CW49887  California      F    Master                462680.11   79487
2       MY31220  California      F   College                899704.02   54230
3       UH35128      Oregon      F   College               2580706.30   71210
4       WH52799     Arizona      F   College                380812.21   94903
..          ...         ...    ...       ...                      ...     ...
991     HV85198     Arizona      M    Master                847141.75   63513
992     BS91566     Arizona      F   College                543121.91   58161
993     IL40123      Nevada      F   College                568964.41   83640
994     MY32149  California      F    Master                368672.38       0
995     SA91515  California      M  Bachelor                399258.39       0

     Monthly_Premium_Auto  Number_of_Open_Complaints  Total_Claim_Amount  \
0                      88                          1          633.600000
1                     114                          1          547.200000
2                     112                          1          537.600000
3                     214                          2         1027.200000
4                      94                          1          451.200000
..                    ...                        ...                 ...
991                    70                          1          185.667213
992                    68                          1          140.747286
993                    70                          1          471.050488
994                    96                          1           28.460568
995                   111                          1          700.349052

        Policy_Type  Vehicle_Class
0     Personal Auto  Four-Door Car
1      Special Auto            SUV
2     Personal Auto   Two-Door Car
3     Personal Auto     Luxury Car
4    Corporate Auto   Two-Door Car
..              ...            ...
991   Personal Auto  Four-Door Car
992  Corporate Auto  Four-Door Car
993  Corporate Auto   Two-Door Car
994   Personal Auto   Two-Door Car
995   Personal Auto            SUV

[996 rows x 11 columns]

In [49]:
df2['Income'] = df2['Income'].astype(float)
print (df2)

    Customer_ID       State Gender Education  Customer_Lifetime_Value  \
0       GS98873     Arizona      F  Bachelor                323912.47
1       CW49887  California      F    Master                462680.11
2       MY31220  California      F   College                899704.02
3       UH35128      Oregon      F   College               2580706.30
4       WH52799     Arizona      F   College                380812.21
..          ...         ...    ...       ...                      ...
991     HV85198     Arizona      M    Master                847141.75
992     BS91566     Arizona      F   College                543121.91
993     IL40123      Nevada      F   College                568964.41
994     MY32149  California      F    Master                368672.38
995     SA91515  California      M  Bachelor                399258.39

      Income  Monthly_Premium_Auto  Number_of_Open_Complaints  \
0    16061.0                    88                          1
1    79487.0                   114                          1
2    54230.0                   112                          1
3    71210.0                   214                          2
4    94903.0                    94                          1
..       ...                   ...                        ...
991  63513.0                    70                          1
992  58161.0                    68                          1
993  83640.0                    70                          1
994      0.0                    96                          1
995      0.0                   111                          1

     Total_Claim_Amount     Policy_Type  Vehicle_Class
0            633.600000   Personal Auto  Four-Door Car
1            547.200000    Special Auto            SUV
2            537.600000   Personal Auto   Two-Door Car
3           1027.200000   Personal Auto     Luxury Car
4            451.200000  Corporate Auto   Two-Door Car
..                  ...             ...            ...
991          185.667213   Personal Auto  Four-Door Car
992          140.747286  Corporate Auto  Four-Door Car
993          471.050488  Corporate Auto   Two-Door Car
994           28.460568   Personal Auto   Two-Door Car
995          700.349052   Personal Auto            SUV

[996 rows x 11 columns]

In [50]:
df2['Vehicle_Class'] = df2['Vehicle_Class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
df2['Vehicle_Class'].unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Luxury'], dtype=object)

In [24]:
df2.head()

,Customer_ID,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number_of_Open_Complaints,Total_Claim_Amount,Policy_Type,Vehicle_Class
0,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88,1,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487.0,114,1,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230.0,112,1,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210.0,214,2,1027.2,Personal Auto,Luxury
4,WH52799,Arizona,F,College,380812.21,94903.0,94,1,451.2,Corporate Auto,Two-Door Car

In [51]:
df2 = df2.isnull().sum()
print (df2)

Customer_ID                  0
State                        0
Gender                       5
Education                    0
Customer_Lifetime_Value      4
Income                       0
Monthly_Premium_Auto         0
Number_of_Open_Complaints    0
Total_Claim_Amount           0
Policy_Type                  0
Vehicle_Class                0
dtype: int64

In [52]:
clean_df3 = clean_data(df3)
print (clean_df3)

     Customer       State  Customer_Lifetime_Value             Education  \
0     SA25987  Washington              3479.137523  High School or Below
1     TB86706     Arizona              2502.637401                Master
2     ZL73902      Nevada              3265.156348              Bachelor
3     KX23516  California              4455.843406  High School or Below
4     FN77294  California              7704.958480  High School or Below
...       ...         ...                      ...                   ...
7065  LA72316  California             23405.987980              Bachelor
7066  PK87824  California              3096.511217               College
7067  TD14365  California              8163.890428              Bachelor
7068  UP19263  California              7524.442436               College
7069  Y167826  California              2611.836866               College

     Gender Income  Monthly_Premium_Auto  Number_Of_Open_Complaints  \
0         M      0                   104                          0
1         M      0                    66                          0
2         F  25820                    82                          0
3         F      0                   121                          0
4         M  30366                   101                          2
...     ...    ...                   ...                        ...
7065      M  71941                    73                          0
7066      F  21604                    79                          0
7067      M      0                    85                          3
7068      M  21941                    96                          0
7069      M      0                    77                          0

         Policy_Type  Total_Claim_Amount  Vehicle_Class
0      Personal Auto          499.200000   Two-Door Car
1      Personal Auto            3.468912   Two-Door Car
2      Personal Auto          393.600000  Four-Door Car
3      Personal Auto          699.615192            SUV
4      Personal Auto          484.800000            SUV
...              ...                 ...            ...
7065   Personal Auto          198.234764  Four-Door Car
7066  Corporate Auto          379.200000  Four-Door Car
7067  Corporate Auto          790.784983  Four-Door Car
7068   Personal Auto          691.200000  Four-Door Car
7069  Corporate Auto          369.600000   Two-Door Car

[7070 rows x 11 columns]

In [53]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [54]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [55]:
df3['Vehicle Class'] = df3['Vehicle Class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
df3['Vehicle Class'].unique()

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury'], dtype=object)

In [56]:
df3.columns = df3.columns.str.replace(' ', '_')
print (df3.columns)

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Education', 'Gender',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Total_Claim_Amount', 'Vehicle_Class'],
      dtype='object')

In [57]:
df3 = df3.rename(columns={'Customer': 'Customer_ID'})
print (df3.columns)

Index(['Customer_ID', 'State', 'Customer_Lifetime_Value', 'Education',
       'Gender', 'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Total_Claim_Amount', 'Vehicle_Class'],
      dtype='object')

In [59]:
df1.columns = df1.columns.str.strip()
df3.columns = df3.columns.str.strip()
print (df1.columns)
print (df3.columns)

Index(['Customer_ID', 'State', 'Gender', 'Education',
       'Customer_Lifetime_Value', 'Income', 'Monthly_Premium_Auto',
       'Number_of_Open_Complaints', 'Policy_Type', 'Vehicle_Class',
       'Total_Claim_Amount'],
      dtype='object')
Index(['Customer_ID', 'State', 'Customer_Lifetime_Value', 'Education',
       'Gender', 'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Total_Claim_Amount', 'Vehicle_Class'],
      dtype='object')

In [61]:
df3 = df3.isnull().sum()
print (df3)

Customer_ID                  0
State                        0
Customer_Lifetime_Value      0
Education                    0
Gender                       0
Income                       0
Monthly_Premium_Auto         0
Number_of_Open_Complaints    0
Policy_Type                  0
Total_Claim_Amount           0
Vehicle_Class                0
dtype: int64

In [62]:
df_concatenado = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
print (df_concatenado)

     Customer_ID       State Gender             Education  \
0        RB50392  Washington      F                Master
1        QZ44356     Arizona      F              Bachelor
2        AI49188      Nevada      F              Bachelor
3        WW63253  California      M              Bachelor
4        GA49547  Washington      M  High School or Below
...          ...         ...    ...                   ...
1089         NaN         NaN    NaN                   NaN
1090         NaN         NaN    NaN                   NaN
1091         NaN         NaN    NaN                   NaN
1092         NaN         NaN    NaN                   NaN
1093         NaN         NaN    NaN                   NaN

      Customer_Lifetime_Value   Income  Monthly_Premium_Auto  \
0                    588174.0      0.0                1000.0
1                    697953.0      0.0                  94.0
2                   1288743.0  48767.0                 108.0
3                    764586.0      0.0                 106.0
4                    536307.0  36357.0                  68.0
...                       ...      ...                   ...
1089                      NaN      NaN                   NaN
1090                      NaN      NaN                   NaN
1091                      NaN      NaN                   NaN
1092                      NaN      NaN                   NaN
1093                      NaN      NaN                   NaN

      Number_of_Open_Complaints     Policy_Type  Vehicle_Class  \
0                           0.0   Personal Auto  Four-Door Car
1                           0.0   Personal Auto  Four-Door Car
2                           0.0   Personal Auto   Two-Door Car
3                           0.0  Corporate Auto            SUV
4                           0.0   Personal Auto  Four-Door Car
...                         ...             ...            ...
1089                        NaN             NaN            NaN
1090                        NaN             NaN            NaN
1091                        NaN             NaN            NaN
1092                        NaN             NaN            NaN
1093                        NaN             NaN            NaN

      Total_Claim_Amount    0
0                    2.0  NaN
1                 1131.0  NaN
2                  566.0  NaN
3                  529.0  NaN
4                   17.0  NaN
...                  ...  ...
1089                 NaN  0.0
1090                 NaN  0.0
1091                 NaN  0.0
1092                 NaN  0.0
1093                 NaN  0.0

[1094 rows x 12 columns]

In [63]:
df_concatenado['Gender'].unique()

array(['F', 'M', nan], dtype=object)

In [64]:
df_concatenado.isnull().sum()

Customer_ID                    23
State                          23
Gender                         22
Education                      23
Customer_Lifetime_Value        22
Income                         22
Monthly_Premium_Auto           22
Number_of_Open_Complaints      23
Policy_Type                    23
Vehicle_Class                  23
Total_Claim_Amount             22
0                            1072
dtype: int64

In [65]:
df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                1071 non-null   object
 1   State                      1071 non-null   object
 2   Gender                     1072 non-null   object
 3   Education                  1071 non-null   object
 4   Customer_Lifetime_Value    1072 non-null   float64
 5   Income                     1072 non-null   float64
 6   Monthly_Premium_Auto       1072 non-null   float64
 7   Number_of_Open_Complaints  1071 non-null   float64
 8   Policy_Type                1071 non-null   object
 9   Vehicle_Class              1071 non-null   object
 10  Total_Claim_Amount         1072 non-null   float64
 11  0                          22 non-null     float64
dtypes: float64(6), object(6)
memory usage: 102.7+ KB

In [72]:
nulos_por_columna = df_concatenado.isnull().sum()
print (nulos_por_columna)

Customer_ID                    23
State                          23
Gender                         22
Education                      23
Customer_Lifetime_Value        22
Income                         22
Monthly_Premium_Auto           22
Number_of_Open_Complaints      23
Policy_Type                    23
Vehicle_Class                  23
Total_Claim_Amount             22
0                            1072
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [103]:
# Your code goes here

marketing_customer_clean_path = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_customer_clean = pd.read_csv(marketing_customer_clean_path)

In [102]:
df_customer_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [101]:
df_customer_clean.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [108]:
table_pivot = df_customer_clean.pivot_table(values='customer_lifetime_value', index='state', aggfunc='mean')
table_pivot = table_pivot.round(2)
print (table_pivot)

            customer_lifetime_value
state
Arizona                     7919.35
California                  7953.77
Nevada                      8267.43
Oregon                      8146.22
Washington                  7839.78

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [110]:
table_pivot_average = df_customer_clean.pivot_table(index='gender', columns='education', values='customer_lifetime_value', aggfunc='mean')
table_pivot_average = table_pivot_average.round(2)
print (table_pivot_average)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

In [114]:
df_customer_clean.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [115]:
# Your code goes here

complaints_summary = df_customer_clean.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

print(complaints_summary)

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817